<ion-content class="ion-padding">
  <h1>Create Account,</h1>
  <h3>Sign up to get started!</h3>


  <ion-card>
  
    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input [(ngModel)]="user._name" type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user.email" type="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="user.password" type="password"></ion-input>
      </ion-item>

    </ion-card-content>

    <ion-button expand="block" (click)="RegisterUser()" size="full" class="ion-margin-bottom">Register</ion-button>

  </ion-card>


  <p class="footer-text">I'm already a member, <a (click)="GoToLogin()">Sign In</a></p>
  
</ion-content>
