<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-item>
        <ion-label>
          <h1>
            {{userData.fullname_fr_db}}
          </h1>
          <p > {{"Email ID - " +userData.email_fr_db}}
          </p>
          <p>{{"Uid - "+userData.uid_fr_db}}
          </p>
          <p> {{"Created On - "+userData.createdOn_fr_db}}
          </p>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-button (click)="LogMeOut()" color="danger">Log Out</ion-button>
</ion-content>
